<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Teams</h1>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each = "team : ${teams}">
            <td th:utext = "${team.id}" />
            <td th:utext = "${team.teamName}" />
        </tr>
    </table>
</div>
</body>
</html>