<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teams</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h1>Teams</h1>
<div>
    <div class="row">
        <div class="col col-md-2" th:each = "team : ${teams}">
            <div class="card mx-auto" style="width:140px">
                <div th:switch="${team.countryCode.isEmpty()}">
                    <img class="card-img-top" alt="Card image cap" th:case="${true}" th:src="'http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/64/Actions-flag-black-icon.png'">
                    <img class="card-img-top" alt="Card image cap" th:case="${false}" th:src="'https://www.countryflags.io/' + ${team.countryCode} + '/flat/64.png'">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:utext="${team.teamName}"></h5>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!--
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "team : ${teams}">
                <td th:switch = "${team.countryCode.isEmpty()}">
                    <img th:case="${true}" th:src="'http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/24/Actions-flag-black-icon.png'">
                    <img th:case="${false}" th:src="'https://www.countryflags.io/' + ${team.countryCode} + '/flat/24.png'">
                    <span th:utext = "${team.teamName}"></span>
                </td>
            </tr>
        </tbody>
        -->
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/javascript.js}"></script>
</body>
</html>